.imageContainer {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.paintingDisplay .image {
  margin: 10px;
  flex-basis: 22%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .paintingDisplay .image {
    flex-basis: 48%;
  }
}

@media (max-width: 480px) {
  .paintingDisplay .image {
    flex-basis: 100%;
  }
}


